@using Nop.Plugin.Misc.Sms77.Domain
@model Nop.Plugin.Misc.Sms77.Models.VoiceModel 

@{
    Layout = "~/Plugins/Misc.Sms77/Views/Shared/_Bulk.cshtml";
    ViewBag.PageTitle = "Plugins.Misc.Sms77.Bulk.Voice";
}

@section form
{
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Xml"/>
        </div>

        <div class="col-md-9">
            <input type="checkbox" id="Xml" value="true" name="Xml" @(Model.Xml ? " checked=checked" : null)/>

            <span asp-validation-for="Xml"></span>
        </div>
    </div>

}

@section history
{
    @await Component.InvokeAsync(typeof(VoiceMessageHistoryViewComponent), new AbstractMessageHistoryViewComponentData<VoiceRecord> {
        Headers = new List<string> {"Plugins.Misc.Sms77.Bulk.Code", "Plugins.Misc.Sms77.Bulk.Cost", "Plugins.Misc.Sms77.Bulk.Sms77Id"},
        Messages = Model.Sent,
        RowHandler = r => new List<object> {r.Code, r.Cost, r.Sms77Id}
    })
}